<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><%= link_to image_tag("Lokate.jpg", :id => 'navbar-brand'), user_events_path(current_user.id), :method => :get, :class => "navbar-brand"  %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Your Profile', user_path(current_user.id), :class => "active" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
<h2>Your Profile </h2>
<div class="jumbotron">
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= @user.status %>
  </p>
  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>
<%= button_to 'Back', user_events_path(current_user), :method => :get, :class => "btn btn-success"  %>