<%= form_with(model: [current_user, event], local: true) do |form| %>
<form class="form-horizontal">
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="image-field">
    <p>
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :title %>
      <%= form.text_field :title, id: :event_title %>
    </p>
  </div>

  <div class="form-group">
    <p>
    <%= form.label :description, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= form.text_area :description, id: :event_description, class: "form-control", rows: "3" %>
    </div>
    </p>
  </div>

  <div class="form-group">
    <p>
      <%= form.label :address, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= form.text_area :address, id: :event_address, class: "form-control", rows: "3" %>
      </div>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :start_date %>
      <%= form.date_select :start_date, id: :event_start_date %>
    </p>
  </div>
  <div class="field">
    <p>
      <%= form.label :end_date %>
      <%= form.date_select :end_date, id: :event_end_date %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :category %>
      <%= form.select :category, options_for_select([["Food", "food"], ["Lifestyle", "lifestyle"], ["Entertainment", "entertainment"]]) %>
    </p>
  </div>

  <div class="actions">
    <strong><%= form.submit %></strong>
  </div>
</form>
<% end %>