<p id="notice"><%= notice %></p>
<div class = "whole-page" >
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><%= link_to image_tag("Lokate.jpg", :id => 'navbar-brand'), user_events_path(current_user.id), :method => :get, :class => "navbar-brand"  %></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Add A New Event', new_user_event_path(current_user.id), :class => "active" %></li>
          <li><%= link_to 'Your Profile', user_path(current_user.id), :class => "active" %></li>
        </ul>
        <%= form_tag(events_path, :method => 'get', id: "search-form", :class => "navbar-form navbar-left") do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Search events or area" %>
            <%= select_tag "category_search", options_for_select([["food", "food"], ["lifestyle","lifestyle"], ["entertainment","entertainment"]]), include_blank: "Select category", :class => "btn btn-default btn-sm" %>
          </div>
          <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign Out", sign_out_path, method: :delete, :class => "btn btn-default", :id => "sign-out-link" %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="image"></div>
  ​
  <!-- <h1>Got What Ah?</h1>
<h4>Locate your news anywhere you are</h4> -->
  <br>
</div>
<% if @event_search.nil? %>
  <p></p>
<% elsif @event_search.blank? %>
  <div class="jumbotron">
    <table class="table table-striped table-hover ">
      <h3>Your Search Results:</h3>
      <td>There are no events containing the term "<%= params[:search] %>".</td>
    </table>
  </div>
<% else %>
  <div class="jumbotron">
    <h3>Your Search Results:</h3>
    <% @event_search.each do |t| %>
      <table class="table table-hover ">
        <% u= User.find_by_id(t.user_id) %>
        <td><%= link_to u.username, user_path(t.user_id) %>(<%= u.check_status(u) %>)</td>
        <td><%= link_to t.title, user_event_path(u.id, t.id) %></td>
        <td><%= t.category %></td>
        <td><%= current_user.distance_to(t.address).round(1) %> kilometres </td>
        <br>
      </table>
    <% end %>
  <% end %>
  <div class="jumbotron">
    <h2>Events near you (within 30 kilometres)</h2>
    <table class="table table-hover">
      <thead>
        <tr class="header">
          <th>User</th>
          <th>Event</th>
          <th>Category</th>
          <th>Distance from you</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% Event.near(current_user.address, 30).each do |t| %>
          <tr class="content">
            <% u= User.find_by_id(t.user_id) %>
            <td><%= link_to u.username, user_path(t.user_id) %>(<%= u.check_status(u) %>)</td>
            <td><%= link_to t.title, user_event_path(u.id, t.id) %></td>
            <td><%= t.category %></td>
            <td><%= t.distance.round(1) %> kilometres</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <div class="jumbotron">
    <h2>More events</h2>
    <table class="table table-hover ">
      <thead>
        <tr class= "header">
          <th>User</th>
          <th>Event</th>
          <th>Description</th>
          <th>Address</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Category</th>
          <th>Likes</th>
          <th>Dislikes</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr class= "content">
            <% u= User.find_by_id(event.user_id) %>
            <td><%= u.username %>(<%= u.check_status(u) %>)</td>
            <td>
              <%= link_to "#{event.title}", user_event_path(event.user_id, event.id) %>
              <br>
              <% if !event.images.empty? %>
                <%= image_tag event.images[0].thumb %>
              <% end %>
            </td>
            <td><%= event.description %></td>
            <td><%= event.address %></td>
            <td><%= event.start_date %></td>
            <td><%= event.end_date %></td>
            <td><%= event.category %></td>
            <td>
              <%=link_to like_event_path(event), class: 'btn btn-info', :id => "upvote-#{event.id}" , method: :put, remote: true do %>
                <span class="glyphicon glyphicon-chevron-up"></span>
                like <span class="votes-count" data-id="<%= event.id %>"><%=event.get_upvotes.size%></span>
              <% end %>
            </td>
            <td>
              <%=link_to dislike_event_path(event), class: 'btn btn-danger', :id => "downvote-#{event.id}", method: :put, remote: true do %>
                <span class="glyphicon glyphicon-chevron-down"></span>
                dislike<span class="votes-count" data-id="<%= event.id %>"> <%=event.get_downvotes.size%></span>
              <%end%>
            </td>
            <td><%= social_share_button_tag("#{event.title} #{event.description} #{event.address}") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>