<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>
<p>
  <strong>Location:</strong>
  <%= @event.area %>
</p>
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>
<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>
<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>
<%= link_to 'Edit', edit_user_event_path(@event) %> |
<%= link_to 'Back', user_events_path %>