<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.username %>(<%= @user.status %>)
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<%= link_to 'Back', user_events_path %>
