<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.username %>(<%= @user.status %>)
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Distance from you:</strong>
  <%= current_user.distance_to(@event.address).round(1) %> kilometres 
</p>

<%= link_to "https://www.google.com/maps/dir/?api=1&origin=#{current_user.latitude},#{current_user.longitude}&destination=#{@event.latitude},#{@event.longitude}" do %>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@event.latitude},#{@event.longitude}&zoom=13&size=600x300&markers=color:blue%7Clabel:E%7C#{@event.latitude},#{@event.longitude}&markers=color:red%7Clabel:U%7C#{current_user.latitude},#{current_user.longitude}&maptype=roadmap&key=#{ENV['GOOGLE_API_KEY']}" %>
<% end %>

<p>
  <strong>User Comments:</strong>
  <% unless @event_comment.nil? %>
    <% @event_comment.each do |comment| %> 
      <%= comment.description %> 
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', user_events_path %>

