<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @vote.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<p>
  <strong>Type of vote:</strong>
  <%= @vote.type_of_vote %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
